doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")
    body 

        div.float-btn
            .icon 
                img(src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Octicons-comment.svg")
        main 
            div.title 
                h1 curry
                h1 cafe
            div.h-benner
                h3 curry cafe! CURRY CAFE!  FLEMINGTON & NORTHCOTE!  NUMBER ONE BEST QUALITY!  VEG & NON.  VEG! 
                h3 curry cafe! CURRY CAFE!  FLEMINGTON & NORTHCOTE!  NUMBER ONE BEST QUALITY!  VEG & NON.  VEG! 
            nav
                ul 
                    li locations
                    span  𐫰 
                    li menu
                    span  𐫰 
                    li shop
                div.nav-box 
                    .icon
                        img(src="https://www.svgrepo.com/show/138972/seeds-and-hand.svg")
                    h3 spicy newsletter
                div.nav-box
                    .icon
                        img(src="http://cdn.onlinewebfonts.com/svg/img_465870.png" )
                    .icon
                        img(src="https://i.pinimg.com/originals/36/d9/44/36d944e4369dcf8b6ac4f722a2dd3449.png")
            div.img-box
                img(src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/983ae22a-5aa5-40dd-a814-c9a511df14e0-Ooty-arun-kumar.jpg")
                img(src="https://images.fineartamerica.com/images-medium-large-5/heat-n-dust-indian-countryside-sarah-sever.jpg")
            div.v-benner 
                span ☀
                span order t―a
                span ☀
            div.v-benner
                span 𐫰
                span reservations
                span 𐫰
            div.h-benner
                h3 STAY SPICY - NUMBER ONE BEST QUALITY! EVERY DAY OPEN! FLEMINGTON & NORTHCOTE! HOME DELIVERY ~ ALL NIGHT
                h3 STAY SPICY - NUMBER ONE BEST QUALITY! EVERY DAY OPEN! FLEMINGTON & NORTHCOTE! HOME DELIVERY ~ ALL NIGHT