.container {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
}

.box {
    /* width: 200px; */
    flex-basis: 200px; /* main-axis box length */
    /* height: 200px; */
    background-color: blue;
    color: white;
    font-size: 3em;
    border: 2px solid tomato;
}

.box[alig-self] {
    color: tomato;
}

.box:nth-child(2) {
    /* align-self: flex-start; */
    /* flex-grow: 2; */
}

.box:nth-child(3) {
    /* flex-grow: 1; */
    flex-shrink: 2;
}

.container2 {
    height: 100vh;
    display: grid;
    grid-template-rows: 20px 50px;
    grid-template-columns: 100px 100px 100px;
    row-gap: 10px;
    column-gap: 5px;
    /* gap: 10px; */
}

.box2 {
    /* width: 200px; */
    /* height: 200px; */
    background-color: tomato;
    border: 1px solid teal;
    color: white;
    font-size: 3em;
}
