doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")
    body
        section.list
            ul
                li
                    h5 E-Commerce
                    h1 UNIF
                    .geners
                        span Designe & Development
                    .present
                        button 2014 → Present
                li
                    h5 Event
                    h1 Veuve Clicquot
                    .geners
                        span Website, Initiative Identities
                    .present
                        button 2015 → Present
                li
                    h5 Artist
                    h1 HAIM
                    .geners
                        span Visual Identity, Digital Strategy, Design & Development
                    .present
                        button 2014 → Forever
                li
                    h5 Institudtional
                    h1 MOCA
                    .geners
                        span Streaming Platform
                    .present
                        button 2016
                li
                    h5 Studio Project
                    h1 Public Access
                    .geners
                        span Website, Streaming Platform, Programming
                    .present
                        button 2015 → Forever
                li
                    h5 Musician
                    h1 Kelela
                    .geners
                        span Interactive Microsite
                    .present
                        button 2015
                li
                    h5 E-Commerce
                    h1 UNIF
                    .geners
                        span Designe & Development
                    .present
                        button 2014 → Present
                li
                    h5 Event
                    h1 Veuve Clicquot
                    .geners
                        span Website, Initiative Identities
                    .present
                        button 2015 → Present
                li
                    h5 Artist
                    h1 HAIM
                    .geners
                        span Visual Identity, Digital Strategy, Design & Development
                    .present
                        button 2014 → Forever
                li
                    h5 Institudtional
                    h1 MOCA
                    .geners
                        span Streaming Platform
                    .present
                        button 2016
                li
                    h5 Studio Project
                    h1 Public Access
                    .geners
                        span Website, Streaming Platform, Programming
                    .present
                        button 2015 → Forever
                li
                    h5 Musician
                    h1 Kelela
                    .geners
                        span Interactive Microsite
                    .present
                        button 2015

        section.benner
            img(src="https://static.thenounproject.com/png/2469996-200.png")
            div.company
                h2 Special - Offers, Inc.
            div.copyright
                img(src="http://cdn.onlinewebfonts.com/svg/img_332464.png")
                h2 2014 &rightarrow; Forever
        section.menu
            ul.filter
                li
                    input#radio-info(type="radio", name="filter", checked)
                    label(for="radio-info") Information
                li
                    input#radio-team(type="radio", name="filter")
                    label(for="radio-team") Team
                li
                    input#radio-press(type="radio", name="filter")
                    label(for="radio-press") Press
            ul.team
                li
                    h5 Art New
                    p Performa Launches Online Platform for Streaming New and Archived Works
                li
                    h5 The Guardian
                    p Masked balls and gay uprisings: Queer Maps is a guide to 150 years of LGBTQ history
                li
                    h5 Frieze
                    p Distributed DISsent - How dis.art blurs the lines between education, entertainment and commerce
                li
                    h5 It's Nice That
                    p Dis.art turns "learning into a Netflix-like experience"
                li
                    h5 WWD
                    p Art Collective Dis Releases Progressive Video Platform
                li
                    h5 Art Net
                    p DIS Magazine, New York's Hippest Art Media Outlet, Is Launching a 'PBS for Gen Z'
                li
                    h5 The New Yorker
                    p How to be a Successful Black Women
                li
                    h5 Village Voice
                    p Martine Syms's Interactive MoMA Installation Explores The Tyranny of Screens
                li
                    h5 Kaleidoscope Magazine
                    p Martine Syms & Carhartt WIP
                li
                    h5 Dazed Magazine
                    p Dazed Summer 2017
                li
                    h5 Art Forum
                    p Martine Syms discusses her Projects exhibition at MoMA
                li
                    h5 Culture Type
                    p Public Access
                li
                    h5 Art New
                    p Performa Launches Online Platform for Streaming New and Archived Works
                li
                    h5 The Guardian
                    p Masked balls and gay uprisings: Queer Maps is a guide to 150 years of LGBTQ history
                li
                    h5 Frieze
                    p Distributed DISsent - How dis.art blurs the lines between education, entertainment and commerce
                li
                    h5 It's Nice That
                    p Dis.art turns "learning into a Netflix-like experience"
                li
                    h5 WWD
                    p Art Collective Dis Releases Progressive Video Platform
                li
                    h5 Art Net
                    p DIS Magazine, New York's Hippest Art Media Outlet, Is Launching a 'PBS for Gen Z'
                li
                    h5 The New Yorker
                    p How to be a Successful Black Women
                li
                    h5 Village Voice
                    p Martine Syms's Interactive MoMA Installation Explores The Tyranny of Screens
                li
                    h5 Kaleidoscope Magazine
                    p Martine Syms & Carhartt WIP
                li
                    h5 Dazed Magazine
                    p Dazed Summer 2017
                li
                    h5 Art Forum
                    p Martine Syms discusses her Projects exhibition at MoMA
                li
                    h5 Culture Type
                    p Public Access