doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello!
        link(rel="stylesheet", href="css/style.css")
    body 
        .container 
            div.status
                .status__control
                    div 
                    div 
                    div 
                .status__address 
            div 
                h2 ch
                    span a
                    | n
                    span g
                    | es
                h2 changes
                h2 ch
                    span a
                    | n
                    span g
                    | es
                h2 changes
                h2 july 4-5
            div 
            div 
                h4 speakers
                ul 
                    li ABBY GEE
                    li ALEX YABSLEY
                    li ALEX ZACCARIA
                    li ALLEGRA CALDWELL
                    li BEATRICE
                    li.selected BILL WILSON [US]
                    li BRIGID DIXON
                    li CARLY JAMES [US]
                    li CHERIE HU US
                    li CHRIS MYLRAE
                    li CHRISTIE MORGAN
                    li CHRISTOPHER
                    li MURATORE [US]
                    li DANIELLE LEVY [US]
                    li DAVE "DIZZ1" NORRIS
                    li DAVID BENGE [NZ]
                    li DAVID RAY
                    li GARETH SMITH [US]
                    li JENN PELLY [US]
                    li JOSEPH EDWARD
                    li KEYES [US]
                    li KAT DOPPER
                    li KATE DUNCAN
                    li LORRAE MCKENNA
                    li MARIHUZKA
                    li CORNELIUS
                    li MARKELL CASEY [US]
            div 
                h4 artists
                ul 
                    li 808S AND GREATEST
                    li HITS
                    li ACTIVITIES OF DAILY
                    li LIVING
                    li ALEXANDER BIGGS
                    li ALICE SKYE
                    li AUSMUTEANTS
                    li BABY
                    li BENCH PRESS
                    li BIRDZ
                    li BONES AND JONES
                    li CABLE TIES
                    li CHAPEL
                    li CIVIC
                    li CLEOPOLD
                    li DARCY BAYLIS
                    li DARK FAIR
                    li DIANAS
                    li DIET
                    li DRMNGNOW
                    li EAST BRUNSWICK ALL
                    li GIRLS CHOIR
                    li EILISH GILLIGAN
                    li ELIZABETH
                    li EVAN KLAR
                    li EVELYN IDA MORRIS
                    li FRASER A. GORMAN

            div 
                h3 about
                h3 contact
                h3 venues
                h3 faq
                h3 partners
            div 
                h3 tickets