doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")
    body
        header
            .filter
                label Year:
                div.select-dec
                    select
                        option All
            .filter
                label Programme:
                div.select-dec
                    select
                        option All
            .filter
                label Themes:
                div.select-dec
                    select
                        option All
            .filter
                label Practice:
                div.select-dec
                    select
                        option All
            .filter
                label Students:
                div.select-dec
                    select
                        option All
        main
            .paint
                h4 Marlin
                h4 Andy Warhol
                .img-box
                    img(src="https://cdn.sanity.io/images/dqllnil6/production/6aa91d85687e832f84d8a1fa45fd94b67729eb71-512x517.jpg?w=1920&q=60&auto=format")
                span 2016
                a(href="#") Read more
            .paint
                h4 Banana
                h4 Andy Warhol
                .img-box
                    img(src="https://www.theartist.me/wp-content/uploads/2019/11/andy-warhol-pop-art-banana.jpg")
                span 1996
                a(href="#") Read more
            .paint
                h4 Coca Cola
                h4 Andy Warhol
                .img-box
                    img(src="https://www.theartist.me/wp-content/uploads/2019/11/andy-warhol-pop-art-coke.jpg")
                span 2016
                a(href="#") Read more
            .paint
                h4 Mao
                h4 Andy Warhol
                .img-box
                    img(src="https://www.theartist.me/wp-content/uploads/2019/11/andy-warhol-mao.jpg")
                span 2016
                a(href="#") Read more
            .paint
                h4 Marlin Diptych
                h4 Andy Warhol
                .img-box
                    img(src="https://www.theartist.me/wp-content/uploads/2019/11/andy-warhol-marilyn-600x400.jpg")
                span 2016
                a(href="#") Read more
            .paint
                h4 Eight Elvis
                h4 Andy Warhol
                .img-box
                    img(src="https://www.theartist.me/wp-content/uploads/2019/11/eight-elvis.jpg")
                span 2016
                a(href="#") Read more
            .paint
                h4 The Shoes Series
                h4 Andy Warhol
                .img-box
                    img(src="https://www.theartist.me/wp-content/uploads/2019/11/andy-warhol-shoes-series.jpg")
                span 2016
                a(href="#") Read more
            .paint
                h4 Grevy's Zebra
                h4 Andy Warhol
                .img-box
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUr27vWa2hIEGJsVt3yHRs6moV8tSWEiI7eA&usqp=CAU")
                span 2016
                a(href="#") Read more
            .paint
                h4 What colors Do you See?
                h4 Andy Warhol
                .img-box
                    img(src="https://images-na.ssl-images-amazon.com/images/I/81gLtTCkcnL.jpg")
                span 2016
                a(href="#") Read more
