extends templates/layout

block content 
    .container 
        h1 Awesome Sexy hello!!
        h1 Awesome Sexy hello!!
        h1 Awesome Sexy hello!!
        h1 Awesome Sexy hello!!
        h1 Awesome Sexy hello!!
        a(href="#") log in
        button log out

