
extends templates/layout
block vars 
    - var title="paint-box"

block headerContent

block content 
    h1 helloworld!
    p this is paragraph 
        br
        | this is anchor tag
        | this is after anchor tag

block footerContent