@mixin sexyTitle($word) {
    font-size: 3em;
    margin-bottom: 1em;
    @if $word == "odd" {
        color: wheat;
    } @else if $word == "even" {
        color: red;
    }
}

@mixin responsive($device) {
    @if $device == "iphone" {
        @media screen and (min-width: 500px) and (max-width: 600px) {
            @content;
        }
    } @else if $device== "ipad" {
        @media screen and (min-width: 600px) {
            @content;
        }
    }
}
