@import "_reset";
@import "_variable";
@import "_mixins";
@import "_button";

body {
}

.container {
    h1 {
        margin-bottom: 2em;

        &:nth-child(odd) {
            @include sexyTitle("odd");
        }
        &:nth-child(even) {
            @include sexyTitle("even");
        }
    }
    a {
        @extend %button;
        text-decoration: none;
    }

    button {
        @extend %button;
    }
    h2 {
        @include responsive("iphone") {
            color: yellow;
        }
    }
}
